{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

<div class='bg-gray-800 text-white p-3 md:px-10 lg:px-20 xl:px-40 2xl:px-72'>
    <div class='m-6'>
        <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>About Me</p>

        <p class='text-justify'>
            &#128075; Hi,<br><br>

            My name is Abhishek M, and I am a highly ambitious and enthusiastic developer with a passion for crafting innovative solutions for the digital realm.<br><br>

            In 2017, I completed my schooling, and I've since pursued higher education in Computer Science, earning my B.Tech in Information Technology. Recently, I successfully completed an internship focusing on Django development, further enhancing my skills.<br><br>

            My technical expertise spans a diverse range, including proficiency in programming languages like Python, HTML, CSS, Javascript, and SQL. Additionally, I have hands-on experience with frameworks such as Django. I've effectively applied these skills to create real-world applications, including an E-commerce website, a Hospital booking website, and a comprehensive full-stack portfolio. Here are my <span class='group text-cyan-200'><a href='/projects' class='bg-left-bottom bg-gradient-to-r from-cyan-300 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out'>projects</a></span> in action.<br><br>

            I am driven by a continuous quest for learning, always seeking new opportunities to expand my knowledge and enhance my development capabilities. My goal is to contribute to clients' success by leveraging my skills and expertise to help achieve their project objectives.
        </p>
        <div class='my-10'>
            <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>Skills</p>
            <div class='grid grid-cols-1 md:grid-cols-2 md:space-x-4 lg:space-x-10'>
                <div class="skills-container">
                    <div class="skill my-3">
                        <p>HTML & CSS</p>
                        <div class="progress-bar">
                            <div class="progress" style="--percentage: 90%;"></div>
                        </div>
                    </div>
                    <div class="skill my-3">
                        <p>JavaScript</p>
                        <div class="progress-bar">
                            <div class="progress" style="--percentage: 80%;"></div>
                        </div>
                    </div>
                    
                    <!-- Add more skills as needed -->
            
                    <!-- Example additional skills in the second column -->
                    <div class="skill my-3">
                        <p>Bootstrap</p>
                        <div class="progress-bar">
                            <div class="progress" style="--percentage: 90%;"></div>
                        </div>
                    </div>
                    <div class="skill my-3">
                        <p>React.JS</p>
                        <div class="progress-bar">
                            <div class="progress" style="--percentage: 70%;"></div>
                        </div>
                    </div>
                    <div class="skill my-3">
                        <p>Python</p>
                        <div class="progress-bar">
                            <div class="progress" style="--percentage: 80%;"></div>
                        </div>
                    </div>
                    <div class="skill my-3">
                        <p>Django</p>
                        <div class="progress-bar">
                            <div class="progress" style="--percentage: 80%;"></div>
                        </div>
                    </div>
                    <div class="skill my-3">
                        <p>RESTful API</p>
                        <div class="progress-bar">
                            <div class="progress" style="--percentage: 60%;"></div>
                        </div>
                    </div>
                    <div class="skill my-3">
                        <p>Tkinter</p>
                        <div class="progress-bar">
                            <div class="progress" style="--percentage: 80%;"></div>
                        </div>
                    </div>
                    <div class="skill my-3">
                        <p>SQL / MySQL</p>
                        <div class="progress-bar">
                            <div class="progress" style="--percentage: 80%;"></div>
                        </div>
                    </div>
                    <div class="skill my-3">
                        <p>Machine Learning</p>
                        <div class="progress-bar">
                            <div class="progress" style="--percentage: 60%;"></div>
                        </div>
                    </div>
                    <div class="skill my-3">
                        <p>MS Excel</p>
                        <div class="progress-bar">
                            <div class="progress" style="--percentage: 80%;"></div>
                        </div>
                    </div>
                    <div class="skill my-3">
                        <p>PowerBI</p>
                        <div class="progress-bar">
                            <div class="progress" style="--percentage: 70%;"></div>
                        </div>
                    </div>
                    <!-- Add more skills as needed -->
                </div>
            </div>
        </div>
    </div>

    <style>
        .skills-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            margin: 10px;
        }

        
        .skill {
            margin-bottom: 10px;
            font-weight: bold;
            width: 400px;
        }

        .progress-bar {
            width: 100%;
            height: 10px;
            background-color: #eee;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 5px;
        }

        .progress {
            height: 100%;
            background-color: #3498db;
            border-radius: 10px;
            animation: progress-animation 2s forwards;
        }

        @keyframes progress-animation {
            0% { width: 0%; }
            100% { width: var(--percentage, 0%); }
        }
    </style>
</div>

{% endblock %}