{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class='hero-section bg-gray-800 text-white text-center flex flex-col justify-center items-center h-[550px] md:h-[580px] lg:h-[600px]'>
        <span class='font-mono my-2'><span class='wave'>&#128075;</span> Hi, I am Abhishek M</span>
        <span style="font-family: Poppins-Bold" class='z-40 text-3xl font-extrabold md:text-4xl lg:text-5xl px-[20px] md:px-[140px] lg:px-[170px] xl:px-[200px] 2xl:px-[360px]'>
            I'm a <span style="background-image: linear-gradient(to right, #68d391, #4299e1); -webkit-background-clip: text; color: transparent;">Full Stack</span>
 developer<br> This is my Portolio & Blog
        </span>
        
        <div class='updn hero-img my-4'>
            <img src="media/images/main7.png" class='h-auto w-75 md:w-56 lg:w-60 xl:w-64'>


            {% comment %} <div class='updn z-50 absolute flex justify-center items-center text-2xl bg-cyan-50 text-blue-700 rounded-full shadow-2xl -mt-40 xl:-mt-52 w-10 h-10'>
                <i class="fa-brands fa-python"></i>
            </div>
            <div class='updn z-50 absolute flex justify-center items-center text-2xl bg-cyan-50 text-blue-700 rounded-full shadow-2xl -mt-20 ml-44 md:ml-52 md:-mt-24 xl:ml-60 xl:-mt-28 w-10 h-10'>
                <i class="fa-brands fa-html5"></i>
            </div>
            <div class='updn z-50 absolute flex justify-center items-center text-2xl bg-cyan-50 text-blue-700 rounded-full shadow-2xl -mt-16 w-10 h-10'>
                <i class="fa-brands fa-css3"></i>
            </div>
            <div class='updn z-50 absolute flex justify-center items-center text-2xl bg-cyan-50 text-blue-700 rounded-full shadow-2xl -mt-6 ml-20 md:-mt-6 md:ml-28 w-10 h-10'>
                <i class="fa-brands fa-square-js"></i>
            </div> {% endcomment %}
        </div>
        
        <div class='hero-btn my-3 md:mt-2 font-bold text-sm md:text-[16px] md:leading-6'>
            <ul class='flex flex-row gap-4 md:space-x-2'>
                <a href='https://cdn.jsdelivr.net/gh/abhishekmanoj1845/Resume/Abhishek_tl_resume.pdf' download>
                    <div class='relative group'>
                        <div class='bg-gradient-to-r from-cyan-300 to-blue-600 px-6 py-2 text-white rounded-md -inset-0.5 absolute blur-sm opacity-75 group-hover:-inset-1 transition group-hover:duration-400 group-hover:opacity-90 duration-1000'></div>
                        <button style='background-color: #4A5568;' class='relative px-7 py-2 text-white rounded-md group-hover:text-gray-50 transition duration-200'>
                            <i style='font-weight: 800;' class="bi bi-download"></i> Download CV
                        </button>
                    </div>
                </a>
                <a href='/about'>
                    <div class='relative group'>
                        <div class='bg-gradient-to-r from-cyan-300 to-blue-600 px-6 py-2 text-white rounded-md -inset-0.5 absolute blur-sm opacity-75 group-hover:-inset-1 transition group-hover:duration-400 group-hover:opacity-90 duration-1000'></div>
                        <button style='background-color: #4A5568;' class='relative px-7 py-2 text-white rounded-md group-hover:text-gray-50 transition duration-200'>
                            <i style='font-weight: 800;' class="bi bi-person"></i> About me
                        </button>
                    </div>
                </a>
            </ul>
        </div>
    </div>
    
    </div>

{% endblock %}